
  {% if title is not empty %}
    <title>{{ title ~ ' | ' ~ siteName }}</title>
  {% else %}
    <title>{{ siteName }}</title>
  {% endif %}

  {% set rules = {addTypographyStyles: false} %}

  {% if entry is defined %}
  {% set image = entry.image.first() %}

    <meta property="og:title" content="{{ entry.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ entry.url }}">
    <meta property="og:image" content="{{ image ? image.url : 'craft.ini.og.defaultImage' }}">
    <meta property="og:description" content="{{ entry.intro|doxter(rules)|striptags }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@selvinortiz">
    <meta name="twitter:creator" content="@selvinortiz">
    <meta name="twitter:title" content="{{ entry.url }}">
    <meta name="twitter:image" content="{{ image ? image.url : 'craft.ini.og.defaultImage' }}">
    <meta name="twitter:description" content="{{ entry.intro|doxter(rules)|striptags }}">

  {% else %}

    <meta property="og:title" content="{{ 'craft.ini.og.title' }}">
    <meta property="og:type" content="{{ 'craft.ini.og.type' }}">
    <meta property="og:url" content="{{ 'craft.ini.og.url' }}">
    <meta property="og:image" content="{{ 'craft.ini.og.image' }}">
    <meta property="og:description" content="{{ 'craft.ini.og.description' }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@craftxio">
    <meta name="twitter:creator" content="@craftxio">
    <meta name="twitter:title" content="{{ 'craft.ini.og.title' }}">
    <meta name="twitter:image" content="{{ 'craft.ini.og.image' }}">
    <meta name="twitter:description" content="{{ 'craft.ini.og.description' }}">

  {% endif %}
