{% set cover = entry.image.first() %}

<div class="card card--slim is-aligned-center">
    {% if cover %}
        <div class="card--image">
            <a href="{{ entry.url }}" title="{{ entry.title }}">
                <img class="is-responsive" src="{{ cover.getUrl('coverTiny') }}" />
            </a>
        </div>
    {% endif %}

    <div class="card__title">
        <h2>
            <a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
        </h2>
    </div>
    <div class="card__content">
        {{ entry.intro|doxter }}
    </div>
</div>
