
		{% set url   = entry.getUrl() %}
		{% set title = entry.title %}

		<ul class="share-buttons">
		  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&t={{ title }}" title="Share on Facebook" target="_blank"><img src="/img/social/facebook.png"></a></li>
		  <li><a href="https://twitter.com/intent/tweet?source={{ url }}&text={{ title }}:%20{{ url }}&via=selvinortiz" target="_blank" title="Share on Twitter"><img src="/img/social/twitter.png"></a></li>
		  <li><a href="https://plus.google.com/share?url={{ url }}" target="_blank" title="Share on Google+"><img src="/img/social/google.png"></a></li>
		  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}&summary={{ entry.intro }}&source={{ url }}" target="_blank" title="Share on LinkedIn"><img src="/img/social/linkedIn.png"></a></li>
		</ul>
